<div class="bggradient">
 <div class="container-xxl py-2">
  <div class="row row-cols-1 row-cols-lg-2 g-2 d-flex align-items-center">
   <div class="col">
    <div class="d-flex flex-row overflow-auto align-items-center gap-2 fw-medium small">
     <a
      class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
      href="tel:036624777" title="036624777" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-telephone me-1"></i>(0366) 24777
     </a>
     <a
      class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
      href="mailto:rsupermatahati@gmail.com" title="rsupermatahati@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope me-1"></i>rsupermatahati@gmail.com
     </a>
     <a
      class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
      href="https://wa.me/+6282236668828" title="Whatsapp" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-whatsapp me-1"></i>082236668828
     </a>
    </div>
   </div>
   <div class="col">
    <div
     class="d-flex flex-row overflow-auto justify-content-between justify-content-lg-end align-items-center gap-2 fw-medium small">
     <div class="d-flex flex-row gap-2">
      <a
       class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
       href="https://www.facebook.com/rsupermatahatiklungkung" title="Facebook" target="_blank"
       rel="noopener noreferrer">
       <i class="bi bi-facebook me-1"></i>
      </a>
      <a
       class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
       href="https://www.instagram.com/rsupermatahati/" title="Instagram" target="_blank" rel="noopener noreferrer">
       <i class="bi bi-instagram me-1"></i>
      </a>
      <a
       class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
       href="https://www.youtube.com/@rsupermatahati8753" title="Youtube" target="_blank" rel="noopener noreferrer">
       <i class="bi bi-youtube me-1"></i>
      </a>
      <a
       class="link-light link-underline-opacity-0 link-underline-opacity-100-hover d-flex justify-content-center align-items-center text-nowrap"
       href="https://www.tiktok.com/@rsupermatahati" title="Tiktok" target="_blank" rel="noopener noreferrer">
       <i class="bi bi-tiktok me-1"></i>
      </a>
     </div>
     <div id="google_translate_element"></div>
    </div>
   </div>
  </div>
 </div>
</div>