<div class="container-fluid p-0 bgimg" data-aos="fade" data-aos-offset="1" data-aos-duration="500">
    <div class="bg-body bg-opacity-75" style="backdrop-filter: blur(5px);">
        <div class="container d-flex flex-column justify-content-end text-center pt-5 pb-4">
            <h2 class="px-3 px-lg-0 mt-5 d-flex flex-wrap justify-content-center gap-2 fw-bold">
                <span class="text-nowrap">DAFTAR</span>
                <span class="text-nowrap">POLIKLINIK</span>
                <span class="text-nowrap">RSU PERMATA HATI</span>
            </h2>
            <div class="px-3 px-lg-0 d-flex flex-wrap justify-content-center gap-2">
                <span class="text-nowrap">Klik tombol dibawah untuk registrasi</span>
                <span class="text-nowrap">online atau melalui Mobile JKN</span>
            </div>
            <div class="d-grid mx-3 d-md-flex flex-md-wrap justify-content-md-center align-items-center gap-2 mt-3">
                <a class="btn btn-success text-truncate d-flex justify-content-center align-items-center py-2 open-popup"
                    href="https://online.rsupermatahati.id/rawatjalan/transaksi/form" role="button">
                    <i class="bi bi-person-fill-add me-2"></i>
                    DAFTAR POLIKLINIK (UMUM)
                </a>
                <a class="btn btn-success text-truncate d-flex justify-content-center align-items-center py-2"
                    href="https://play.google.com/store/apps/details?id=app.bpjs.mobile&hl=id" target="_blank"
                    rel="noopener noreferrer" role="button">
                    <i class="bi bi-android2 me-2"></i>
                    MOBILEJKN (Android)
                </a>
                <a class="btn btn-success text-truncate d-flex justify-content-center align-items-center py-2"
                    href="https://apps.apple.com/id/app/mobile-jkn/id1237601115" target="_blank"
                    rel="noopener noreferrer" role="button">
                    <i class="bi bi-apple me-2"></i>
                    MOBILEJKN (IOS)
                </a>
            </div>
        </div>
    </div>
</div>