<nav class="navbar navbar-expand-lg m-0" aria-label="Navbar">
    <div class="container-xxl py-1">
        <a class="navbar-brand me-auto" href="/">
            <img id="logolight" src="/icons/logo.png" alt="logo" class="img-fluid m-0 p-0" style="height: 40px;" />
            <img id="logodark" src="/icons/logo-dark.png" alt="logo" class="img-fluid m-0 p-0 d-none" style="height: 40px;" />
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasnavbar01" aria-controls="offcanvasnavbar01" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasnavbar01"
            aria-labelledby="offcanvasnavbar01label">
            <div class="offcanvas-header bg-body">
                <h5 class="offcanvas-title" id="offcanvasnavbar01label">
                    RSU Permata Hati
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasnavbar01"
                    aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body bg-body">
                <ul class="navbar-nav fw-medium d-flex justify-content-lg-end align-items-lg-center">
                    <li class="nav-item dropdown py-1 py-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" data-bs-auto-close="outside">
                            PROFIL
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item py-2" href="/pages/sejarah">Sejarah</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/visi-misi">Visi Misi</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/nilai-dasar-layanan">Nilai Dasar Layanan</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/janji-layanan">Janji Layanan</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/filosofi-logo">Filosofi Logo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown py-1 py-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            LAYANAN
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item py-2" href="/pages/ugd">UGD</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/poliklinik">Poliklinik</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/rawat-inap">Rawat Inap</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/farmasi">Farmasi</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/laboratorium">Laboratorium</a></li>
                            <li><a class="dropdown-item py-2" href="/pages/radiologi">Radiologi</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown py-1 py-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">INFORMASI
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item py-2" href="/pages/hak-dan-kewajiban-pasien">Hak dan Kewajiban Pasien</a></li>
                            <li><a class="dropdown-item py-2 open-popup" href="https://online.rsupermatahati.id/dokter/jadwal">Jadwal Dokter</a></li>
                            <li><a class="dropdown-item py-2 open-popup" href="https://online.rsupermatahati.id/rawatjalan/antrian">Antrian Pasien</a></li>
                            <!-- <li><a class="dropdown-item py-2 open-popup" href="https://online.rsupermatahati.id/rawatinap/ketersediaan-bed">Ketersedian Bed</a></li> -->
                            <li><a class="dropdown-item py-2" href="/pages/artikel-dan-berita">Artikel dan Berita</a></li>
                        </ul>
                    </li>
                    <li class="nav-item py-1 py-lg-0">
                        <a class="nav-link" href="/pages/faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>